@using Web.Models
@model LoginVievModel
@{
    ViewBag.Title = "Добро похаловать";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<div>
    @using (Html.BeginForm())
    {
       <p>@Html.ValidationSummary(true)</p>
         <p>
            логин:@Html.TextBoxFor(x => x.UserName) @Html.ValidationMessageFor(x => x.UserName)
        </p>
        <p>
            Пароль:@Html.EditorFor(x => x.Password)@Html.ValidationMessageFor(x => x.Password)
        </p>
        <input type="submit" value="Вход"/>  
    }
    <p>
        если у вас нет учётной записи вы можете @Html.ActionLink("зарегистрироваться","Register")
    </p>
</div>